<section class="img-slider">
	<div class="slider-container">
		<div class="slide">
			<img
				src="https://auto.mahindra.com/-/media/project/mahindra/dotcom/mahindra/dark-theme-mahindra-images/gallery/w153/photos/popup-images/scorpio-classic-car.png?rev=4097722f83964aa19077c46f1200deb0&extension=webp"
				
			/>
		</div>
		<div class="slide">
			<img
			   src="https://auto.mahindra.com/-/media/project/mahindra/dotcom/mahindra/dark-theme-mahindra-images/gallery/xuv700/photos/popup-images/big07.jpg?rev=150c661fd2ca410d9a68f1e92b5aac17&extension=webp"
			   />
		</div>
		<div class="slide">
			<img
				src="https://auto.mahindra.com/-/media/project/mahindra/dotcom/mahindra/dark-theme-mahindra-images/gallery/thar/desktop/thar-river-drive-image-mahindra-auto.png?rev=fbe294fdb7a34c92b764e770cbed7930&extension=webp"
			/>
		</div>
		<div class="slide">
			<img
				src="https://www.topgear.com/sites/default/files/cars-car/image/2023/09/33136-RS7PERFORMANCEASCARIBLUEJORDANBUTTERS208.jpg"
			/>
		</div>
	</div>
</section>

